html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Ink Free';
    font-style: normal;
    /* position: relative; */
    /* width: 1440px; */
    /* height: 1024px; */

}

.landingPage {
    background: #FEFAEE;
    height: 100%;
}

#homeNav {
    width: 100%;
    height: 60px;
    background: #E6F4F4;
    border-radius: 0px 0px 100px 100px;
}

.circle {
    position: absolute;
    width: 65px;
    height: 66px;
    left: 47%;
    top: 35px;
    border-radius: 100px;
    background: #EBC089;
}

.taraKape {
    font-weight: 400;
    font-size: 30px;
    color: #502D00;
    margin: 15% 0 0 3%;
}

.underline {
    width: 16%;
    border: 2px solid #502D00;
    margin: 0 0 0 3%;
}

.businessInfo {
    width: 50%;
    margin: 5px 0 30px 50px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 33px;
    text-align: justify;
    color: #000000;
}

.btnMenu {
    width: 85px;
    height: 42px;
    background: #502D00;
    border: 2px solid #EBC089;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    margin: 0px 20px 0 50px;
    text-align: center;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.btnMenu:hover {
    background: #502D00;
    color: #fff;
}

.btnAboutUs {
    width: 120px;
    height: 42px;
    /* background: #502D00; */
    border: 2px solid #000000;
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #000000;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btnAboutUs:hover {
    background: #502D00;
    color: #fff;
}

.imageContainer {
    position: absolute;
    width: 25%;
    height: 67%;
    left: 60%;
    top: 18%;
    background: url("../images/holdingCup.jfif");
    background-size: 110% 90%;
    background-position: bottom;
    border-radius: 207px 207px 0px 0px;
}

.imageContainer2 {
    /* box-sizing: border-box; */
    position: absolute;
    width: 25%;
    height: 67%;
    left: 62%;
    top: 23%;
    border: 4px solid #502D00;
    border-radius: 207px 207px 0px 0px;
}

.menuPage {
    height: 100%;
}

.btnAddProduct {
    /* position: absolute; */
    width: 10%;
    height: 5%;
    margin: 1% 0 0 77%;
    background-color: #DD918F;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #fff;
}

.selectedImage {
    width: 16%;
    height: 40%;
    margin: 2% 0 0 15%;
    background: url("../images/honeyLatte.jfif");
    background-size: 100% 120%;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.selectedProdDesc {
    position: absolute;
    width: 47%;
    height: 36%;
    left: 29%;
    top: 125%;
    padding: 2%;
    background: linear-gradient(0deg, #FFF9FC, #FFF9FC), #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 100px;
}

.prodTitle {
    font-weight: 400;
    font-size: 3rem;
    line-height: 41px;
    color: #000000;
}

.prodInfo {
    font-weight: 400;
    font-size: 1rem;
    text-align: justify;
    color: #000000;
    margin: 0 5% 0 6%;
}

.productList {
    margin: 6% 0 0 15%;
    height: 35%;
    width: 82%;
}

.productList div {
    width: 20% !important;
    height: 100%;
    background-size: 100% 120%;
    background-position: center;
    border-radius: 20px;
    padding: 0;
    margin-right: 2%;
    overflow: hidden;
}

.activeProduct {
    border: 3px solid #EBC089;
}

.productList div img {
    height: 100%;
    width: 100%;
}

.foot {
    height: 10%;
    background-color: #E6F4F4;
}